<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <!--去除logo-->
    <!--
    <h1 class="logo"><a href="{{ "/" | prepend: site.baseurl }}">end2<span>end</span> <small>v2.0</small></a></h1>
    -->
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">Home</a></li>
        {% for item in site.navbar %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-rss"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
